
:host {
    width: 100%; 
    height: 100%;   
}

.form {
    display: flex;    
    justify-content: center;
    flex-flow: row wrap;
}

.form-input, .message {
    width: 70%;
    max-width: 400px;
}

.form-input {
    height: 50px;
    padding: 5px;    
    margin-right: 10px;
    background: none;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 0px 0px #bebebe;
}

.form-input, .form-button {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.3rem;    
    border-radius: 5px;
}

.form-button:hover {
    cursor: pointer;
}

.form-button {
    transform: translateY(-3px);
    font-size: 12px;
    border: none;
    background: #333;
    color: #fff;
    box-shadow: 0px 2px 0px 2px #666;    
    padding: 10px;
    transition: transform 200ms;
}

.form-button:active {
    box-shadow: 0px 1px 0px 0px #666;    
    transform: translateY(0);
}

.message
{
    text-align: center;
    font-size: 1rem;
    line-height: 2em;
    margin: 20px auto;
}

.input {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.1em;
    margin-bottom: 10px;
    display: block;
}