<form [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)" class="form" *ngIf="!message">
    <input type="text" formControlName="text" class="form-input" placeholder="Type here">
    <button type="submit" class="form-button">Check</button>
</form>
<div *ngIf="message">    
    <p class="message">
        <span class="input">{{input}}</span> {{message}} <button type="button" class="form-button" (click)="reStart()">try another</button>
    </p>
</div>