/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

*
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}


::-webkit-input-placeholder { /* WebKit browsers */
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    color:    #aaa;
    font-size: 0.7em;
    font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-family: 'Source Code Pro', monospace;
    color:    #333;
	opacity:  1;
}


html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

.header, .main-content
{
    width: 90%;
    max-width: 960px;
    margin: 0;
}
.main-content
{
    height: 60%;
    flex: 1 0 auto;
}
.header
{
    padding: 20px;
    text-align: center;
    flex: 0 0 auto;
}

.title {        
    font-size: 2rem;
    line-height: 2.3rem;
    color: #262626;
    font-weight: 600;
}
.intro
{
    max-width: 400px;
    margin: 20px auto 0;
}
p
{
    color: #333;
    line-height: 1.2em;
    font-size: 1em;
}